<!-- Bet Pop up -->
<div class="gs-popup">
    <main class="gs-popup gs-main-content">
        <div class="center">
            <h1>Balance Value</h1>
            <h1>Bet Value</h1>
            @Html.TextBox("BetValue")
            <a id="betValueSubmit" href="#modal-1" class="gs-btn gs-modal-trigger" style="padding:20px;">Bet & Play</a>
        </div>
    </main> <!-- .gs-main-content -->

</div> <!-- gs-popup -->