@if (Request.IsAuthenticated)
{
    <a class="nav-link">@User.Identity.Name</a>
    <a class="nav-link" href="/Spin/ShowSpinsHistory">Spins</a>
    <a class="nav-link" href="/Transactions/ShowTransactionsHistory">Transactions</a>
    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    <div id="despositCodesContainer">
        <h3>Enter Deposit Code</h3>
        @Html.TextBox("DepositCodes")
        <button id="depositCodeSubmit" class="btn btn-primary">Enter Code</button>
    </div>


    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()           
       }

 }
