@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <div class="form-group">
        <a class="nav-link">@User.Identity.Name</a>

        <div class="avatar-upload">
            <div class="avatar-edit">
            </div>
            <div class="avatar-preview">
                <img src="" id="imageProfiler" class="img-circle"/>
            </div>
        </div>
    </div>
    @Html.ActionLink("Wheel Of Fortune", "Index", "Home")
    <a class="nav-link" href="/Spin/ShowSpinsHistory">Spins</a>
    <a class="nav-link" href="/Transactions/ShowTransactionsHistory">Transactions</a>
    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    <div id="despositCodesContainer">
        <h3>Enter Deposit Code</h3>
        @Html.TextBox("DepositCodes")
        <button id="depositCodeSubmit" class="btn btn-primary"><span class="glyphicon glyphicon-barcode"></span></button>
    </div>

  


    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()           
       }

 }
