
@{
    ViewBag.Title = "My Spins History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    @Styles.Render("~/Content/SpinHistoryView.css")
    


<h2>My Spins History</h2>


<table id="spinshistory" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Wheel Configuration Id</th>
            <th>Bet Value</th>
            <th>Result Value</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>


<script>

   var userid=  @User.Identity.Name

</script>





@section scripts {
    @Scripts.Render("~/bundles/SpinsHistoryView")
    <script type="text/javascript">
        $(function() {
            SpinsController_init();
        });
    </script>
}