@model WheelOfFortune.Models.ViewModels.ApplicationUserViewModel

@{
    ViewBag.Title = "My Spins History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    

    @Styles.Render("~/Content/SpinsHistoryView.css")


<h2 style="text-align:center; padding-bottom: 10px;">My Spins History</h2>


<div class="container" style="z-index:99999999!important;background-color:white!important;color:black;">
    <table id="spins" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Spin No.</th>
                <th> Bet Value</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>



@{
    string user = ViewBag.UserId;
}

@section scripts {
  
    @Scripts.Render("~/bundles/SpinsHistoryView")
    <script type="text/javascript">
        $(function () {

            
           
            $(document).ready(function () {
                const table = $("#spins").DataTable
                (
                    {
   
                        ajax:
                        {
                            url: "/api/Spins/GetByUserId?userId=" + "@Model.Id",
                            dataSrc: ""
                        },
                        columns: [
                            {
                                data: "Id"
                            },
                            {
                                data: "Bet Value"
                            },
                            {
                                data: "Result Value"
                            }
                        ]

                    });
            });
           
        });
    </script>
}