@model WheelOfFortune.Models.ViewModels.ApplicationUserViewModel

@{
    ViewBag.Title = "ShowTransactionHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/TransactionsHistoryView.css")


<h2 style="text-align:center; padding-bottom:10px;">Show Transaction History</h2>

<div class="container" style="z-index:99999999!important;background-color:white!important;color:black;">
    <table id="transactions" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Transaction Date</th>
                <th> Value</th>               
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>





@section scripts {
    @Scripts.Render("~/bundles/TransactionHistoryView")
    <script type="text/javascript">
        $(function () {

          

            $(document).ready(function () {
                const table = $("#transactions").DataTable
                (
                    {

                        ajax:
                        {
                            url: "/api/Transaction/GetByUserId?userId=" + "@Model.Id",
                            dataSrc: ""
                        },
                        columns: [
                            {
                                data: "TransactionDate",
                                render:function(data) {
                                    var dateString = data;
                                    console.log(dateString);
                                    var yearDate = dateString.substring(0, dateString.indexOf("T"));
                                    var time = dateString.substring(dateString.indexOf("T")+1, dateString.length-4);

                                    return yearDate + "  " + time;
                                }
                            },
                            {
                                data: "Value"
                            }
                        ]

                    });
            });
           
        });
    </script>
}