, .peg, .wheelSVG {
    visibility: hidden;
}

.wheelContainer{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.centerCircle, .valueContainer, .wheelOutline, .wheelText {
    pointer-events: none;
}

.toast, .wheelContainer{
    text-align: center;
}

.wheelContainer{
    transform: translate(-50%, 0);
}

.toast {
    position: absolute;
    background-color: #2c97de !important;
}

.wheelContainer {
    position: absolute;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    top: 5%;
}

.wheelSVG {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: auto;
}

.wheelText {
    text-anchor: middle;
    font-family: 'Fjalla One', Arial, sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

.toast {
    border-radius: 12px;
    opacity: 0;
}

    .toast p {
        clear: both;
        font-family: 'Fjalla One', Arial, sand-serif;
        margin: 23px;
        font-size: 30px;
        color: #ededed;
        letter-spacing: 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 32px;
        -webkit-transition: line-height .2s ease;
        transition: line-height .2s ease;
    }



@media only screen and (max-width: 480px) {
    .toast p, .toast span {
        font-size: 18px;
        line-height: 18px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
    .toast p, .toast span {
        font-size: 38px;
        line-height: 38px;
    }
}

@media only screen and (min-width: 801px) {
    .wheelContainer {
        position: absolute;
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        top: 4%;
    }
    .toast p, .toast span {
        font-size: 58px;
        line-height: 60px;
    }
}

@media only screen and (max-height: 480px) {
    .toast p, .toast span {
        font-size: 33px;
        line-height: 35px;
    }



    .wheelContainer {
        top: 70px;
    }
}
