/* Layout */
.page-header {
    margin:0;
    border: none;
}

/* Nav Bar */
.navbar {
    z-index:1;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2c97de;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
}
.navbar-brand {
    float: right;
    color: white;
}

#despositCodesContainer {
    padding: 8px 8px 8px 32px;

}

#despositCodesContainer h3 {
    color: #fff
}

input#DepositCodes {
    color: black !important;
    font-weight: bold;
    height: 5vh;
    border: 1px solid #158cba;
}

#imageProfiler {
    height: 22vh;
    width: 22vh;
    margin-left: 6vh;
}
.avatar-preview {
    max-width: 50vh;
    max-height: 50vh;
}
/* Custom Css By George Simos */
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #2b3e51;
    background-color: #ecf0f1;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}

.hidden {
    visibility: hidden;
}
input#BetValue { padding: 20px;
    border-radius: 10%;
}
#balanceValue {
    font-size: large;
    width: 40vh;
    height: 10vh;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 43%;
}

/* -------------------------------- 
  
  General Style
  
  -------------------------------- */
.gs-intro {
    position: relative;
    height: 100vh;
    width: 100%;
    /* vertically align its content */
    display: table;
    background: #ecf0f1;
    overflow: hidden;
}

.gs-intro-content {
    /* vertically align inside its parent */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 5%;
    background: #ecf0f1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    .gs-intro-content h1 {
        font-size: 2.4rem;
        color: #2b3e51;
    }

    .gs-intro-content p {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.4;
        margin: 1em 0;
        color: #6d7a97;
    }

    .gs-intro-content .action-wrapper {
        display: inline-block;
    }

        .gs-intro-content .action-wrapper::after {
            clear: both;
            content: "";
            display: table;
        }

        .gs-intro-content .action-wrapper > * {
            float: left;
        }

@media only screen and (min-width: 768px) {
    .gs-intro-content h1 {
        font-size: 5.2rem;
        font-weight: 300;
    }

    .gs-intro-content p {
        font-size: 1.6rem;
        margin: 1.5em 0 1.9em;
    }
}

.gs-btn {
    display: inline-block;
    padding: 1.2em 1.8em;
    background: #2c97de;
    border-radius: 50em;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: .1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s;
    transition: all .2s;
}

    .gs-btn:nth-of-type(2) {
        margin-right: 0;
    }

    .gs-btn.main-action {
        background-color: #fb5e58;
    }

@media only screen and (min-width: 480px) {
    .gs-btn {
        padding: 1.2em 1.6em;
    }
}

@media only screen and (min-width: 768px) {
    .gs-btn {
        padding: 1.4em 1.8em;
    }
}

.gs-intro-content h1,
.gs-intro-content h1 span,
.gs-intro-content p,
.gs-intro-content .gs-btn {
    opacity: 0;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.no-cssanimations .gs-intro-content h1, .no-cssanimations .gs-intro-content h1 span, .no-cssanimations .gs-intro-content p, .no-cssanimations .gs-intro-content .gs-btn {
    opacity: 1;
}

/* -------------------------------- 
  
  Mask
  
  -------------------------------- */
.mask-2.gs-intro-content * {
    /* overwrite default style */
    opacity: 1;
}

.mask-2.gs-intro-content .content-wrapper {
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 2em 0;
    overflow: hidden;
}

    .mask-2.gs-intro-content .content-wrapper::before {
        /* vertical bar */
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        height: 100%;
        width: 2px;
        background-color: #2b3e51;
        -webkit-animation: gs-pulse 1.3s 0.3s both;
        -moz-animation: gs-pulse 1.3s 0.3s both;
        animation: gs-pulse 1.3s 0.3s both;
    }

.no-cssanimations .mask-2.gs-intro-content .content-wrapper::before {
    opacity: 0;
}

.mask-2.gs-intro-content .content-wrapper > div {
    /* wrap the entire content */
    position: relative;
    z-index: 1;
}

.mask-2.gs-intro-content .content-wrapper,
.mask-2.gs-intro-content .content-wrapper > div {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    animation-delay: 1.1s;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.mask-2.gs-intro-content .content-wrapper {
    -webkit-animation-name: gs-mask-wrapper;
    -moz-animation-name: gs-mask-wrapper;
    animation-name: gs-mask-wrapper;
}

    .mask-2.gs-intro-content .content-wrapper > div {
        -webkit-animation-name: gs-mask-content;
        -moz-animation-name: gs-mask-content;
        animation-name: gs-mask-content;
    }

@-webkit-keyframes gs-mask-wrapper {
    0% {
        -webkit-transform: translateX(50%);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes gs-mask-wrapper {
    0% {
        -moz-transform: translateX(50%);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes gs-mask-wrapper {
    0% {
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes gs-mask-content {
    0% {
        -webkit-transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes gs-mask-content {
    0% {
        -moz-transform: translateX(-100%);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes gs-mask-content {
    0% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes gs-pulse {
    0%, 30.8% {
        opacity: 0;
    }

    15.4%, 46.2%, 61.5%, 70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes gs-pulse {
    0%, 30.8% {
        opacity: 0;
    }

    15.4%, 46.2%, 61.5%, 70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes gs-pulse {
    0%, 30.8% {
        opacity: 0;
    }

    15.4%, 46.2%, 61.5%, 70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* -------------------------------- 

xpopup 

-------------------------------- */
.gs-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

    .gs-popup.is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0s;
    }


/* -------------------------------- 

Shared style

-------------------------------- */
.gs-btn {
    display: inline-block;
    padding: 1.6em 2.4em;
    font-size: 1.4rem;
    letter-spacing: .15em;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
}

    .gs-btn:hover {
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    }

h1 {
    line-height: 1;
}

/* Main Content */
.gs-main-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80vh;
    /* vertically align its content */
    display: table;
}

    .gs-main-content .center {
        /* vertically align inside parent element */
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
/* Modal Window */
.gs-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

    .gs-modal .modal-content {
        height: 100%;
        overflow-y: auto;
        padding: 3em 5%;
        background: #ecf0f1;
    }

    .gs-modal h1, .gs-modal h2 {
        text-align: center;
    }


    .gs-modal .modal-close {
        /* 'X' icon */
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 5%;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 100%;
        color: transparent;
        visibility: hidden;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: visibility 0s .3s, opacity .3s 0s, -webkit-transform .3s 0s;
        transition: visibility 0s .3s, opacity .3s 0s, -webkit-transform .3s 0s;
        transition: transform .3s 0s, visibility 0s .3s, opacity .3s 0s;
        transition: transform .3s 0s, visibility 0s .3s, opacity .3s 0s, -webkit-transform .3s 0s;
    }

        .gs-modal .modal-close::before, .gs-modal .modal-close::after {
            content: '';
            display: inline-block;
            position: absolute;
            height: 2px;
            width: 20px;
            top: calc(50% - 1px);
            left: calc(50% - 10px);
            background: #fff;
        }

        .gs-modal .modal-close::before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .gs-modal .modal-close::after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    .gs-modal.visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity .7s, visibility 0s;
        transition: opacity .7s, visibility 0s;
    }

        .gs-modal.visible .modal-content {
            /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
            -webkit-overflow-scrolling: touch;
        }

        .gs-modal.visible .modal-close {
            visibility: visible;
            opacity: 1;
            -webkit-transition: visibility 0s 0s, opacity .3s 0s, -webkit-transform .3s 0s;
            transition: visibility 0s 0s, opacity .3s 0s, -webkit-transform .3s 0s;
            transition: transform .3s 0s, visibility 0s 0s, opacity .3s 0s;
            transition: transform .3s 0s, visibility 0s 0s, opacity .3s 0s, -webkit-transform .3s 0s;
            -webkit-transform: scale(1);
            transform: scale(1);
            background: #2c97de;
        }
            a.modal-close.disable {
            pointer-events: none;
            }

@media only screen and (min-width: 1100px) {
    .gs-modal .modal-content {
        padding: 6em 5%;
    }

    .gs-modal .modal-close {
        height: 60px;
        width: 60px;
    }

        .gs-modal .modal-close::before, .gs-modal .modal-close::after {
            height: 2px;
            width: 26px;
            top: calc(50% - 1px);
            left: calc(50% - 13px);
        }

    .gs-modal p {
        font-size: 2rem;
    }
}

/* Transition Layer */
.gs-transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

    .gs-transition-layer .bg-layer {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-2%);
        transform: translateY(-50%) translateX(-2%);
        /* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    .gs-transition-layer.visible {
        opacity: 1;
        visibility: visible;
    }

        .gs-transition-layer.visible .bg-layer {
            -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
        }

    .gs-transition-layer.opening .bg-layer, .gs-transition-layer.closing .bg-layer {
        -webkit-animation-duration: .8s;
        animation-duration: .8s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

.no-cssanimations .gs-transition-layer {
    display: none;
}


  /*Slider*/
#slidecontainer {
    width: 50%;
    margin: auto;
}
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#betandBalanceContainer {
  
    border-color: #6d7a97 !important;
    background-color: #6d7a97;
}



/* pop up box*/
/* the button */
.add-to-box {
    display: inline-block;
    padding: 1.2em 1.8em;
    background: #2c97de;
    border-radius: 50em;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: .1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s;
    transition: all .2s;
}

    .add-to-box:hover,
    .add-to-box:focus{
        background: #42a2e1;
        color: #fff;
    }

    .add-to-box:active {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

/* -------------------------------- 

Main Components 

-------------------------------- */

.box-container::before {
    /* dark bg layer visible when the cart is open */
    content: '';
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* op & visibility */
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
}
/* trigger using js */
.open.box-container::before {
    opacity: 1;
    visibility: visible;
}


/* the box */
.the-box {
    z-index: 2;
    width: 71%;
    max-width: 447px;
    height: 400px;
    max-height: 90%;
    pointer-events: none;
}

.box-trigger,
.the-box {
    position: fixed;
    bottom: 20px;
    right: 5%;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    will-change: transform;
    backface-visibility: hidden;
}

.box-trigger {
    z-index: 3;
    height: 72px;
    width: 72px;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    background: #fff;
}

    .box-trigger::after, .box-trigger::before {
        /* used to create the cart/'X' icon */
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        height: 100%;
        width: 100%;
        background: url(img/close.svg) no-repeat 0 0;
        -webkit-transition: opacity .2s, -webkit-transform .2s;
        transition: opacity .2s, -webkit-transform .2s;
        transition: opacity .2s, transform .2s;
        transition: opacity .2s, transform .2s, -webkit-transform .2s;
    }

    .box-trigger::after {
        /* 'X' icon */
        background-position: -72px 0;
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
        transform: translateX(-50%) translateY(-50%) rotate(90deg);
    }

.open .box-trigger::before {
    opacity: 0;
}

.open .box-trigger::after {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.wrapper {
    height: 100%;
    width: 100%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.the-box .wrapper {
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: 2;
    overflow: hidden;
    height: 72px;
    width: 72px;
    border-radius: 6px;
    -webkit-transition: height .4s .1s, width .4s .1s, box-shadow .3s;
    transition: height .4s .1s, width .4s .1s, box-shadow .3s;
    -webkit-transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
    transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
    background: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
    pointer-events: auto;
}

.open .the-box .wrapper {
    height: 100%;
    width: 100%;
}

.the-box header {
    top: 0;
    border-radius: 6px 6px 0 0;
    padding: 0 1.4em;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    -webkit-transition: opacity .2s 0s;
    transition: opacity .2s 0s;
    border-bottom: 1px solid #e6e6e6;
}

.the-box header, .the-box footer {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
}

.the-box h2 {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: .1em;
}

.the-box header::after {
    clear: both;
    content: "";
    display: block;
}

.the-box .body {
    position: relative;
    z-index: 1;
    height: calc(100% - 40px);
    padding: 20px 0 10px;
    margin: 40px 0 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

    .the-box .body ul {
        overflow: hidden;
        padding: 0 1.4em;
        position: relative;
        padding-bottom: 90px;
        list-style: none;
    }
    .item-details {
        text-align: center;
    }

.the-box footer {
    bottom: 0;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;
}
/* use .box-open */
.the-box .checkout {
    color: #ffffff;
    -webkit-transition: color .2s .3s;
    transition: color .2s .3s;
}

.the-box .checkout {
    display: block;
    height: 72px;
    line-height: 72px;
    margin-right: 72px;
    background: #2c97de;
    /* color: rgba(255, 255, 255, 0); */
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    -webkit-transition: all .2s 0s;
    transition: all .2s 0s;
}
    .the-box .checkout:hover {
        background: #82c785;
    }


/* Gs Animation logo */

@keyframes beat {
    to {
        transform: scale(0.75);
    }
}

.logo-container img {
    animation: beat 0.55s infinite alternate;
}

