@{
    ViewBag.Title = "GetSpinsView";
}


<h2></h2>

<div class="container" style="z-index:99999999!important;background-color:white!important;color:black;">

    <table id="spins" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Spin No.</th>
            <th>Bet Value</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>



@section scripts {

    <script type="text/javascript">
       $(function () {
            $(document).ready(function () {
                const table = $("#spins").DataTable
                (
                    {
                       ajax:
                        {
                            url: "http://localhost:63312/api/Spins/GetByUserId?userId=" + "@ViewBag.userId",
                            dataSrc: ""
                        },
                        columns: [
                            {
                                data: "Id"
                            },

                            {
                                data: "BetValue"
                            },

                            {
                                data: "ResultValue"
                            }

                        ]
                    });

            });
        });

    </script>

}