@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="userContainer" style="z-index:99999999!important;background-color:white!important;color:black;">
    <table id="user" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Spins</th>
                <th>Transactions</th>
                <th>Change user status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts {


    <script type="text/javascript">
        var $table;

        $(function () {

            
            $(document).ready(function () {

                $("")
                $table = $("#user").DataTable
                (
                    {
                        ajax:
                        {
                            url: "http://localhost:63312/api/User/GetAll",
                            dataSrc: "",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json"
                        },
                        columns:
                        [
                            {
                                data: "Id"
                            },
                            {
                                data: "UserName"
                            },
                            {
                                data: "Id",
                                render: function (data, type, user) {
                                    return "<button class='btn-link js-userspins' data-user-id=" +
                                        user.Id +
                                        ">User Spins</button>";

                                }
                            },
                            {
                                data: "Id",
                                render: function (data, type, user) {
                                    return "<button class='btn-link js-usertransactions' data-user-id=" +
                                        user.Id +
                                        ">User Transaction</button>";
                                }
                            },
                            {

                                data: "Id",
                                render: function (data, type, user) {
                                    console.log(user.Active);
                                    if (user.Active) {
                                        return "<button class='btn-link js-deactivate active' data-user-id=" +
                                            user.Id +
                                            ">Deactivate</button>";
                                    } else {
                                        return "<button class='btn-link js-deactivate deactive' data-user-id=" +
                                            user.Id +
                                            ">Activate</button>";
                                    }
                                   
                                }
                            }
                        ]

                    });
            });

            $("#user").on("click",
                ".js-userspins",
                function () {
                    var button = $(this);
                    var userId = button.attr("data-user-id");
             
                    bootbox.confirm("Are you sure you want to check this user's Spins?",
                        function (result) {
                            if (result) {
                                window.location.href = "/Home/GetSpins?userId="+userId;
                            }
                        });
                });

        });

        $("#user").on("click",
            ".js-usertransactions",
            function () {
                var button = $(this);
                var userId = button.attr("data-user-id");
                bootbox.confirm("Are you sure you want to check this user's transactions?",
                    function (result) {
                        if (result) {
                              
                            window.location.href = "/Home/GetTransactions?userId="+userId;                                 
                               
                        }
                    });
            });

        $("#user").on("click",
            ".js-deactivate",
            function () {
                if ($(this).hasClass("active")) {
                    var button = $(this);
                    var userId = button.attr("data-user-id");
                    bootbox.confirm("Are you sure you want to deactivate this user?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "http://localhost:63312/api/User/UpdateUserActiveStatus?status=false&userId=" +
                                        userId,
                                    method: "POST",
                                    success: function(response) {
                                        $table.row(button.text("Activate").removeClass("active").addClass("deactive")).draw();
                                        console.log(response);

                                    }
                                });
                            }
                        });
                } else {
                    var button2 = $(this);
                    var userId2 = button2.attr("data-user-id");
                    bootbox.confirm("Are you sure you want to activate this user?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "http://localhost:63312/api/User/UpdateUserActiveStatus?status=true&userId=" +
                                        userId2,
                                    method: "POST",
                                    success: function(response) {
                                        $table.row(button2.text("Deactivate").removeClass("deactive").addClass("active")).draw();
                                        console.log(response);

                                    }
                                });
                            }
                        });
                }
               
            });


    </script>
}


