@*@using WheelOfFortune.Models.ViewModels.WheelConfiguration*@

@{
    ViewBag.Title = "WheelSpinsConfiguration";
}

<h2>WheelSpinsConfiguration</h2>

@*@using (Html.BeginForm("Index", "Home", FormMethod.Post))*@
@*{*@
@*    <table>*@
@*        <tr>*@
@*            <th>New Wheel Configuration</th>*@
@*        </tr>*@
@*        <tr>*@
@*            <td>Wheel's Configurations</td>*@
@*            <td>*@
@*                *@
@*            </td>*@
@*        </tr>*@
@*        <tr>*@
@*            <td>Name: </td>*@
@*            <td>*@
@*             *@
@*            </td>*@
@*        </tr>*@
@*        <tr>*@
@*            <td>Gender: </td>*@
@*            <td>*@
@*                @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>*@
@*                { new SelectListItem{Text="Male", Value="M"},*@
@*                    new SelectListItem{Text="Female", Value="F"}}, "Please select")*@
@*            </td>*@
@*        </tr>*@
@*        <tr>*@
@*            <td>City: </td>*@
@*            <td>*@
@*                @Html.TextBoxFor(m => m.City)*@
@*            </td>*@
@*        </tr>*@
@*        <tr>*@
@*            <td></td>*@
@*            <td><input type="submit" value="Submit"/></td>*@
@*        </tr>*@
@*    </table>*@
@*}*@
