@*@using WheelOfFortune.Models.ViewModels.WheelConfiguration*@

@{
    ViewBag.Title = "WheelSpinsConfiguration";
}

<h2>WheelSpinsConfiguration</h2>

<div id="sliceForm">
    <div class="form-group" data-slice-index="0">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="propability">Propability</label>
                <input type="text" class="form-control" id="propability" placeholder="Slice Number" value="25" name="slice[0].propability" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="value">Value Of Slice</label>
                <input type="text" class="form-control" id="value" placeholder="Value Of Slice" value="Win x2" name="slice[0].value" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="propability">Result Text</label>
                <input type="text" class="form-control" id="resultText" placeholder="Result Text" value="Yo-Hoo" name="slice[0].resultText" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="value">Score</label>
                <input type="text" class="form-control" id="score" placeholder="Score" value="2" name="slice[0].score" required>
            </div>
        </div>
        <div style="text-align:center; margin: 10px auto; ">
            <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
        </div>

    </div>


    <!-- The template for adding new field -->

    <div class="form-group hide " id="sliceTemplate">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="propability">Propability</label>
                <input type="text" class="form-control" id="propability" placeholder="Slice Number" value="25" name="slice[0].propability" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="value">Value Of Slice</label>
                <input type="text" class="form-control" id="value" placeholder="Value Of Slice" value="Win x2" name="slice[0].value" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="propability">Result Text</label>
                <input type="text" class="form-control" id="resultText" placeholder="Result Text" value="Yo-Hoo" name="slice[0].resultText" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="value">Score</label>
                <input type="text" class="form-control" id="score" placeholder="Score" value="2" name="slice[0].score" required>
            </div>
        </div>

        <div style="text-align:center; margin: 10px auto; ">
            <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
        </div>

    </div>


    <div class="row">
        <div class="col-md-6 mb-3">
            <button class="btn btn-primary" style="margin-top: 20px;" id="submitConfig">Submit Wheel Configuration</button>
        </div>
    </div>
</div>
           
     



@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            var sliceIndex = 0;


                // Add button click handler
            $('#sliceForm')
                .on('click', '.addButton', function () {
                sliceIndex++;
                var $template = $('#sliceTemplate'),
                    $clone = $template
                        .clone()
                        .removeClass('hide')
                        .removeAttr('id')
                        .attr('data-slice-index', sliceIndex)
                        .insertBefore($template);

                // Update the name attributes
                $clone
                    .find('[name="propability"]').attr('name', 'slice[' + sliceIndex + '].propability').end()
                    .find('[name="value"]').attr('name', 'slice[' + sliceIndex + '].value').end()
                    .find('[name="resultText"]').attr('name', 'slice[' + sliceIndex + '].resultText').end()
                    .find('[name="score"]').attr('name', 'slice[' + sliceIndex + '].score').end();
                })

                // Remove button click handler
                .on('click', '.removeButton', function () {
                    var $row = $(this).parents('.form-group'),
                        index = $row.attr('data-slice-index');

                    // Remove element containing the fields
                    $row.remove();
                });
            var formgroups;
            $("#submitConfig").on('click',
                function() {
                    formgroups = $("div[data-slice-index]");
                    console.log(formgroups);
                });
          
        });

    </script>
}
